table.content__table
  thead
    tr
      th Customer Name
      th Company
      th Phone Number
      th Email
      th Country
      th Status
  tbody
    if users
      each user in users
        tr
          td= user.name
          td= user.company
          td= user.phoneNumber
          td= user.email
          td= user.country
          td= user.status
    else
      tr
        td(colspan="6") No users found
